.carousel {
  position: relative;
  /* border: 50px solid red; */
}
.carousel .thumbs {
  /* background: red; */
  display: flex;
  justify-content: center;
  margin:0;
  padding: 35px;
  object-fit: cover;
  height: 150px;
  width: 100vw;
  /* border: 50px solid red; */
}

  .carousel .slide img {
    border: 5px solid #003;
    border-radius: 15px;
    /* box-shadow: 0px 20px 50px #555; */
    width: 30vw;
    height: 40vh;
    object-fit: cover;

  }

.carousel .thumb {
  margin: 0 5px;
  cursor: pointer;
}
@media screen and (max-width:600px) {
  .carousel .slide img {
    width: 100vw !important;
    height: 40vh;
    object-fit: cover;

  }
}